.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pageItem {
  margin: 0 5px;
}

.pageLink {
  padding: 8px 16px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pageLink:focus {
  outline: none;
}

/* 현재 선택된 페이지 번호에 대한 스타일. React 컴포넌트에서 조건부로 클래스를 추가해야 합니다. */
.pageItem.active .pageLink {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
