.loginContainer {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.loginCard {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.loginCard h2 {
    text-align: center;
}

.loginCard input[type="text"],
.loginCard input[type="password"],
.loginCard input[type="submit"],
.loginCard button.kakao-login {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* input box 크기를 padding을 포함하여 width로 정합니다. */
}

.loginCard input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.loginCard button.kakaoLogin {
    background-color: #fee500;
    color: black;
    cursor: pointer;
}

.loginHelp {
    text-align: center;
}
