.header {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background-color: #ffffff; /* 배경색 변경: */
  color: #333333; /* 텍스트 색상 변경: */
  padding: 20px;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid #eaeaea; /* 경계선 색상 변경: */
  text-align: center;
  width: 100%;
}

.header nav ul {
  display: flex;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: left;
  margin-right: 20px; /* 항목 사이 간격 추가 */
}

.header li a {
  font-weight: bold;
  display: block;
  color: #333333; /* 링크 텍스트 색상 변경: */
  text-align: center;
  padding: 10px 10vh;
  font-size: 20px;
  text-decoration: none;
}

.header li a:hover {
  color: #afafaf; /* 호버 시 글자색 변경 */
}

@media (max-width: 480px) {
  .header {
    margin: 0 auto;
    height: 40px; /* 스마트폰에서의 높이 조정 */
    width: 80%;
  }

  .header nav {
    display: flex;
  }

  .header li a {
    font-size: 15px;
    padding: 10px 2vh;
  }
}