.contentWrapper {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 자식 요소들을 세로로 정렬 */
  justify-content: space-between; /* 상단 컨텐츠와 페이지네이션 사이의 공간을 최대화 */
  min-height: 86vh; /* 내부 콘텐츠의 크기가 작을 때도 전체 높이를 화면에 맞출 수 있도록 설정 */
}

/* 중형 기기 (태블릿 등, 화면 너비가 768px ~ 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .contentWrapper {
    min-height: 88vh; /* 중형 기기에 맞춤 */
  }
}

/* 소형 기기 (대형 스마트폰, 화면 너비가 576px ~ 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .contentWrapper {
    min-height: 80vh; /* 소형 기기에 맞춤 */
  }
}

/* 매우 소형 기기 (소형 스마트폰, 화면 너비가 575px 이하) */
@media (max-width: 575px) {
  .contentWrapper {
    min-height: 83vh; /* 매우 소형 기기에 맞춤 */
  }
}

.newsList {
  display: block; /* flex 대신 block 디스플레이 사용 */
  padding: 10px;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* 높이를 조정하여 가운데 정렬이 잘 되도록 합니다. 필요에 따라 조정하세요. */
  background-color: white; /* 배경색을 흰색으로 설정 */
  color: #333; /* 글자 색상, 필요에 따라 조정 */
  font-size: 20px; /* 글자 크기를 크게 설정 */
  font-weight: bold; /* 글자를 굵게 */
}
